@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@media (prefers-color-scheme: dark) {
    *{
        color-scheme: dark;
        
    }
    .card{
        background-color: #18191c !important;
    }
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
}

ul {
    list-style: none;
    background: rgb(206, 218, 219);
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px
}

ul li ul.dropdown li {
    display:block;
}

ul li ul.dropdown {
    width: 100%;
    background: #514b5e;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #7b0a4c;
}

ul li:hover ul.dropdown {
    display: block;
}

.container .title {
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 10px 200px;
}
.ParkplatzContainer {
    padding: 15px 25px;
    width: calc(100% - 120px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.card {
    width: 230px;
    background-color: rgb(206, 218, 219);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin:9px;
    padding: 15px;
    text-align: center;
}


label {
    font-size: 15px;
    padding: 4px;
    opacity: 70%;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 215px;
    padding: 4px;
    border: none;
}

input {
    padding: 4px;
    border: none;
}
.KW_Liste {
    margin-left: 200px;
    
    padding: 15px 25px;
    width: calc(100% - 450px);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.KW_Liste h3{
    background-color: rgb(206, 218, 219);
    padding: 8px;
    width: calc(12%);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.Tag_Liste {
    margin-left: 200px;
    padding: 15px 25px;
    width: calc(100% - 450px);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 0px;
}
.Tag_Liste h3 {
    background-color: rgb(206, 218, 219);
    padding: 8px;
    width: calc(17.5%);
    text-align: center;
    border-radius: 5px;
    margin-top: -15px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.Datum {
    margin-left: 200px;
    padding: 15px 25px;
    width: calc(100% - 450px);
    
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-top: 0px;
}
.active {
    background-color: #567e9f !important;
}
